BOT_TOKEN=1234567890:replace_with_token_from_BotFather
DATABASE_PATH=data/gnida_bot.sqlite3
KARGASSIA_CHAT_ID=-1001234567890
YUKASSA_SHOP_ID=your_yookassa_shop_id
YUKASSA_SECRET_KEY=your_yookassa_secret_key
YUKASSA_RETURN_URL=https://t.me/your_bot_username
